@import "../../../scss/variables.scss";

.discount-card-for-slider {
    position: relative;
    border-radius: 12px;
    // background: url(<path-to-image>), lightgray -34.301px 0px / 109.897% 100.404% no-repeat;

    image {
        min-height: 240px;
        max-height: 260px;
        width: 100%;
        border-radius: 12px;
    }

    .titles {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 111px;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 16px;
        border-radius: 0px 0px 12px 12px;
        background: linear-gradient(180deg, rgba(80, 80, 80, 0) 7.57%, rgba(0, 0, 0, 0.8) 100%);

        h4 {
            color: #fff;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: #fff;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .button {
            background-color: $primary-color;
            border-radius: 4px;
            width: 32px;
            height: 36px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button:hover {
            cursor: pointer;
        }
    }
}
