@import "../../../scss/variables.scss";

.egg-card {
    position: relative;
    // image {
    //     max-width: 200px;
    //     max-height: 255px;
    //     flex-shrink: 0;
    // }
    p {
        color: rgba(0, 0, 0, 0.75);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }
}
