/* Add this to your styles.css or use a separate stylesheet */

.floating-button {
    position: fixed;
    /* background-color: #5DC9F4; */
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    z-index: 9999;
}

.chat-box {
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

/* .messages {
  max-height: 200px;
  overflow-y: auto;
} */

.user {
    text-align: right;
}

/* Add more styles as needed */
  