/* @import "~antd/dist/antd.css"; */
/* .alphabet-list {
    font-family: sans-serif;
    text-align: center;
  }
  .alpha-list {
    width: 350px;
    height: 400px;
    background-color: red;
    color: red;
    padding-right: 4px;
    padding-left: 4px;
  }
  body {
    margin: 0;
    padding: 8px;
    font-family: sans-serif;
    user-select: none;
  }
  .ant-tag {
    margin-bottom: 4px;
    margin-right: 4px;
    font-size: 12px;
    line-height: 22px;
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  } */
  