@import "../../../scss/variables.scss";

.center-align-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(12, 107, 144, 0.06);


    .card-body {
        padding: 14px 12px 16px 12px;

        h5 {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            margin-bottom: 12.5px;
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: center;
            margin-bottom: 12.5px;
            color: rgba(0, 0, 0, 0.6);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.36px;
        }

        .price {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            span {
                &:first-child {
                    color: #000;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                &:nth-child(2) {
                    color: rgba(0, 0, 0, 0.65);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration-line: line-through;
                }

                &:nth-child(3) {
                    color: #02792a;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
    }


    .add-To-Bag-Animation {
        animation-name: cartAnimation;
        animation-duration: 3000ms;
        // animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        // animation-direction: alternate;
    }

    @keyframes cartAnimation {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(45%)
        }
        30% {
            transform: translateX(45%) translateY(10px);
        }
        35% {
            transform: translateX(45%) translateY(0px);
        }

        100% {
            transform: translateX(100%);
        }
    }

    .card-footer {
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        margin-bottom: 12px;
        margin-top: 12px;
    }
}
