.left-align-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(12, 107, 144, 0.12);

    image {
        min-height: 240px;
        max-height: 450px;
        width: 100%;
    }

    h5 {
        color: rgba(0, 0, 0, 0.8);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    p {
        color: rgba(0, 0, 0, 0.75);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 8px;
        margin-bottom: 5px;
    }

    .price {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 8px;
        margin-bottom: 20px;

        span {
            &:first-child {
                color: #000;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &:nth-child(2) {
                color: rgba(0, 0, 0, 0.65);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: line-through;
            }

            &:nth-child(3) {
                color: #02792a;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
  