.carousel-category-card {
    .card-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .img {
            padding: 10%;
        }
    }

    p {
        color: rgba(0, 0, 0, 0.90);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 8px;
        text-align: center;
    }
}
  