.ant-drawer-title {
    padding-left: 4px;
    font-size: 15px !important;
}

.ant-menu-title-content {
    color: #3a4047;
    font-size: 16px;
}


.ant-menu-submenu-arrow::before {
    color: #3a4047;
}

.ant-menu-submenu-arrow::after {
    color: #3a4047;
}