@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
    font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


@keyframes heartbeat {
    0%, 100% {
        transform: scale(2);
        opacity: 0.7;
    }
    14%, 42% {
        transform: scale(2.3);
        opacity: 1;
    }
    28%, 70% {
        transform: scale(2);
        opacity: 0.7;
    }
}

.animate-heartbeat {
    animation: heartbeat 2s ease-in-out infinite;
}

/* body {
  --sb-track-color: #fff1f4;
  --sb-thumb-color: #f40f6f;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
  } */
