@import "./variables.scss";

.cartDrawer::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}

.cartDrawer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.cartDrawer::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 2px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.cartDrawer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.slim-scroll::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    height: 3px;
}

.slim-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: #0094cf; /* Thumb color */
    border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.slim-scroll-for-chatting::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 3px;
}

.slim-scroll-for-chatting::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.slim-scroll-for-chatting::-webkit-scrollbar-thumb {
    background-color: #0094cf; /* Thumb color */
    border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll-for-chatting::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.ant-drawer-header {
    padding: 10px 15px !important;
}

.ant-drawer-body {
    padding: 15px 8px !important;
}

.ant-modal-content {
    padding: 0px !important;
}

.ant-modal-title {
    padding: 15px 0px 12px 18px !important;
    border-bottom: 1px solid #e8e8e8 !important;
}

.ant-pagination-item {
    border-radius: 20px !important;
}

// .ant-pagination-item-link{
//   border-radius: 20px !important;
//   box-shadow: (0px 0px 16px rgba(0, 0, 0, 0.12));
//   background-color: white !important;
//   color: $primary-color;
// }

#notificationHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#notificationBody {
    margin-top: 10px;
    text-align: center;
}

#imageContainer {
    display: flex;
    align-items: center;
    height: 100px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .sm-request-stock {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .sm-view-details {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .sm-preview-shade {
        font-size: 0.65rem;
    }
    .sm-add-to-bag {
        font-size: 12px;
    }
    .sm-show-discount-price {
        h2 {
            font-size: 14px;
        }
        span {
            h4 {
                font-size: 11px;
            }
        }
        .leading-normal {
            span {
                font-size: 11px;
            }
        }
    }
    .sm-select-a-shade {
        font-size: 13px;
    }
    .sm-request-stock {
        font-size: 10px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}
