.mobile-navbar {
    .first-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
    }

    .second-row {
        .search-form {
            position: relative;
            width: 100%;

            .input {
                border: 1px solid #5dc9f4;
                border-radius: 42px;
                height: 36px;
                width: 100%;
                padding-left: 35px;
                color: rgba(0, 0, 0, 0.831);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.12px;
            }

            .submite-btn {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #00000099;
            }
            .close-search {
                position: absolute;
                top: 5px;
                right: 8px !important;
                // color: #ffffff;
                // background-color: rgb(104, 99, 99);
                border-radius: 50%;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.ant-drawer-body {
    padding: 0 !important;
}
