@import '../../../scss/variables.scss';

.brand-card {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(12, 107, 144, 0.12);

    image {
        min-height: 240px;
        max-height: 450px;
        width: 100%;
    }

    h4 {
        color: $primary-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 16px;
        margin-bottom: 4px;
        margin-left: 20px;
    }

    p {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 15px;
        margin-left: 20px;
    }
}