// .slick-dots{
// margin-top: 500px;
// }

/* Add these styles to your SlimSlider.scss or a separate CSS file */
.custom-dots {
    position: absolute;
    bottom: -10px; /* Adjust the bottom position as needed */
    list-style: none !important; /* Remove list-style */
    display: flex !important; /* Use flex display */
    justify-content: center;
    padding: 0;
    margin: 0;
    // background-color: red;
    width: 100%;
}


.custom-dots li {
    margin: 0 2px; // Adjust the margin between dots as needed
}

.custom-dots button {
    font-size: 0px; // Adjust the font size of the dots as needed
    color: #fff; // Adjust the color of the dots as needed
    opacity: 0.6; // Adjust the opacity of inactive dots as needed
    background-color: #D9D9D9; // Set the background color of the dots as needed
    // border: 1px solid #fff; // Add a border to the dots for visibility
    border-radius: 50%; // Make the dots circular
    width: 9px; // Set the width of the dots
    height: 9px; // Set the height of the dots
    margin: 0 5px; // Adjust the margin between dots as needed
}

.custom-dots .slick-active button {
    opacity: 1; // Adjust the opacity of active dots as needed
    background-color: #5DC9F4;
}
